@import './base.css';

html, body #app {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
  font-family: Arial, sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --color-text: #e0e0e0;
  --color-bg: #1a1a1a;
  --color-border: #444;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
